---
import { ThoughtsItem } from '@components/cards';
import { Header } from '@components/misc';
import { BaseHead } from '@components/seo';
import { SITE_DESCRIPTION, SITE_TITLE } from '@data/index';
import { getCollection } from 'astro:content';

const thoughts = (await getCollection('thought')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image='/images/og–image.png'
		/>
	</head>
	<body
		id='root'
		class='w-full flex flex-col h-screen items-center justify-start my-6 p-4 antialiased'>
		<div
			id='navbar+title'
			class='flex flex-col w-full gap-6 max-w-xl'>
			<Header />
			<h1 class='w-full text-7xl font-medium tracking-tight mb-6'>thoughts</h1>

			{
				thoughts.map((thought, i) => (
					<ThoughtsItem
						category={thought.data.category}
						content={thought.body}
						pubDate={thought.data.pubDate}
						index={i}
					/>
				))
			}
		</div>
	</body>
</html>
