---
import BaseHead from '../components/BaseHead.astro';
import NavBar from '../components/NavBar.astro';
import BlogCard from '../components/BlogCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const blogs = await getCollection('blog')
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body id="root" class="w-full flex flex-col h-screen items-center justify-start my-8">
		<div id="navbar+title" class="flex flex-col w-full gap-6 max-w-xl">
			<NavBar/>
			<h1 class="w-full text-7xl font-medium tracking-tight">hey i’m sanju, designer, engineer & developer</h1>

			{
				blogs.map((blog) => (
					<BlogCard title={blog.data.title} date={blog.data.pubDate} slug={blog.slug} />
				))
			}


		</div>
	</body>
</html>
