---
import { ShipsItem } from '@components/cards';
import Headers from '@components/misc/headers.astro';
import { BaseHead } from '@components/seo';
import { SITE_DESCRIPTION, SITE_TITLE } from '@data/index';
import { getCollection } from 'astro:content';

const ships = (await getCollection('ship')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<body
		id='root'
		class='w-full flex flex-col h-screen items-center justify-start my-6 p-4 antialiased'>
		<div
			id='navbar+title'
			class='flex flex-col w-full gap-6 max-w-xl'>
			<Headers />
			<h1 class='w-full text-7xl font-medium tracking-tight mb-6'>Ships</h1>

			{
				ships.map((ship) => (
					<ShipsItem
						title={ship.data.title}
						date={ship.data.pubDate}
						slug={ship.slug}
					/>
				))
			}
		</div>
	</body>
</html>
