---
import type { CollectionEntry } from 'astro:content';
import { Header } from '@components/misc';
import FormattedDate from '@components/misc/formatted-date.astro';
import { BaseHead } from '@components/seo';
import RootLayout from '@layouts/root-layout.astro';
import { clsx } from '@utils/index';

type Props = CollectionEntry<'writing'>['data'];

const { title, description, pubDate, heroImage, readingTime } = Astro.props;
---

<html lang='en'>
	<head>
		<BaseHead
			title={title}
			description={description}
			image='/images/ogimage.png'
		/>
	</head>

	<RootLayout>
		<div
			id='navbar+title'
			class='flex flex-col w-full gap-6 max-w-xl'>
			<Header />

			<article
				id='blog-content'
				class='w-full flex flex-col gap-6 items-center justify-center'>
				<h1
					class='w-full text-4xl md:text-5xl lg:text-7xl font-medium tracking-tight'>
					{title}
				</h1>
				<div class='flex flex-row gap-2 w-full'>
					<p class='text-start text-gray-500 font-medium'>
						<FormattedDate date={pubDate.toString()} />
					</p>
					<span class='text-gray-500 font-medium'>·</span>
					<p class='text-start text-gray-500 font-medium'>
						{readingTime} min read
					</p>
				</div>
				<p
					class='w-full text-start font-medium text-gray-700 dark:text-gray-300 text-lg'>
					<span class='font-semibold text-gray-900 dark:text-white'
						>tl;dr:
					</span>
					{description}
				</p>
				<!-- we're using the Image component from Astro to handle the image optimization -->
				{
					heroImage && (
						<img
							src={heroImage}
							alt={title}
							class='w-full rounded-lg'
						/>
					)
				}
				<div
					class={clsx(
						'w-full prose prose-lg my-3 prose-p:font-medium dark:prose-invert prose-a:underline prose-a:bg-orange-50 prose-a:decoration-orange-500 items-center justify-center',
						'dark:prose-a:bg-orange-950 dark:prose-a:decoration-orange-400 dark:prose-a:underline',
						'prose-h1:font-medium prose-h2:font-medium prose-h3:font-medium prose-h4:font-medium prose-h5:font-medium prose-h6:font-medium',
						'prose-h1:tracking-tight prose-h2:tracking-tight prose-h3:tracking-tight prose-h4:tracking-tight prose-h5:tracking-tight prose-h6:tracking-tight',
						'prose-ul:font-medium prose-ol:font-medium prose-li:font-medium',
						'prose-ul:space-y-3 prose-ol:space-y-3 prose-li:space-y-3'
					)}>
					<slot />
				</div>
			</article>
		</div>
	</RootLayout>
</html>
